<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calculadora IMC</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
</head>
<body>

    <div id="app" class="container">
        <div class="row">
            <div class="col-md-12">
                
                <div class="modal-dialog" role="document">
                    <div class="modal-content rounded-5 shadow">
                      <div class="modal-header p-5 pb-4 border-bottom-0">
                        <h2 class="fw-bold mb-0">Calculadora IMC</h2>
                      </div>
                
                      <div class="modal-body p-5 pt-0">
                        <form class="">
                          <div class="form-floating mb-3">
                            <input v-model="altura" type="number" class="form-control rounded-4" id="altura" placeholder="name@example.com">
                            <label for="altura">Informe a sua altura</label>
                          </div>
                          <div class="form-floating mb-3">
                            <input v-model="peso" type="number" class="form-control rounded-4" id="peso" placeholder="Password">
                            <label for="peso">Informe o seu peso</label>
                          </div>
                          <button @click="calcular" class="w-100 mb-2 btn btn-lg rounded-4 btn-primary" type="submit">Calcular</button>
                        </form>
                      </div>
                    </div>

                    <div v-if="camposObrigatorio" class="alert alert-danger mt-3">
                        <strong>Ops!!!</strong><br>
                        {{ mensagemCamposObrigatorios }}
                    </div>

                    <div v-if="magrezaGrave | obesidade" class="alert alert-danger mt-3">
                        <strong>Cuidado!</strong><br>
                        O seu IMC é: <strong>{{ imc | formatDecimal }}</strong>,<br>
                        {{ mensagem }}
                    </div>

                    <div v-if="magrezaLeve | sobrepeso" class="alert alert-warning mt-3">
                        <strong>Cuidado!</strong><br>
                        O seu IMC é: <strong>{{ imc | formatDecimal }}</strong>,<br>
                        {{ mensagem }}
                    </div>

                    <div v-if="saldavel" class="alert alert-success mt-3">
                        <strong>Parabéns!</strong><br>
                        O seu IMC é: <strong>{{ imc | formatDecimal }}</strong>,<br>
                        Esse valor está de acordo com o esperado, continue se cuidando!
                    </div>

                </div>

            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

    <script>
        const app = new Vue({
            el: '#app',
            data: {
                altura: '',
                peso: '',
                imc: 0,
                camposObrigatorio: false,
                magrezaGrave: false,
                magrezaLeve: false,
                saldavel: false,
                sobrepeso: false,
                obesidade: false,
                mensagem: '',
                mensagemCamposObrigatorios: '',
            },
            methods: {
                
                calcular( event ) {
                    event.preventDefault()
                    this.camposObrigatorio = false;
                    this.magrezaGrave = false;
                    this.magrezaLeve = false;
                    this.saldavel = false;
                    this.sobrepeso = false;
                    this.obesidade = false;
                    let altura = parseFloat(this.altura.trim());
                    let peso = parseFloat(this.peso.trim());

                    if(isNaN(altura) || altura < 1) {
                      this.camposObrigatorio = true;
                      this.mensagemCamposObrigatorios = 'Você esqueceu de informar a sua altura';
                    } else if (isNaN(peso) || peso < 1) {
                      this.camposObrigatorio = true;
                      this.mensagemCamposObrigatorios = 'Você esqueceu de informar o seu peso';
                    } else {
                      this.imc = peso / Math.pow(altura, 2);
                      console.log('calculando', altura + ' ' + peso);
                      console.log('IMC', this.imc);
                      this.validarImc(this.imc);
                      this.altura = '';
                      this.peso = '';
                    }
                },
                validarImc ( valorImc ) {
                  if(valorImc < 16) {
                    this.magrezaGrave = true;
                    this.mensagem = 'Esse valor indica magreza grave e pode trazer riscos a sua saúde!';
                  } else if(valorImc >= 16 && this.imc <=18.49) {
                    this.magrezaLeve = true;
                    this.mensagem = 'Esse valor indica magreza leve/moderada e pode trazer riscos a sua saúde!';
                  } else if(valorImc >= 18.5 && this.imc <=24.99){
                    this.saldavel = true;
                    this.mensagem = 'Esse valor indica massa corporal saldável e pode trazer riscos a sua saúde!';
                  } else if(valorImc >= 25 && this.imc <=29.99){
                    this.sobrepeso = true;
                    this.mensagem = 'Esse valor indica sobrepeso e pode trazer riscos a sua saúde!';
                  } else if(valorImc >= 30 && this.imc <=40){
                    this.obesidade = true;
                    this.mensagem = 'Esse valor está muito elevado e pode trazer riscos a sua saúde!';
                  }
                }

              },
              filters: {
                formatDecimal(value) {
                    return value.toFixed(2).replace(".", ",")
                }
              }
        })
    </script>

    
</body>
</html>